    <!-- https://stackoverflow.com/a/48078807/261210 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ 'assets/clipboard.min.js' | relative_url }}" crossorigin="anonymous"></script>
    <script type="text/javascript">
      // get all <code> elements

      var allCodeBlocksElements = $( "code" );

      allCodeBlocksElements.each(function(i) {
        // add different id for each code block

        // target	
        var currentId = "codeblock" + (i + 1);
        $(this).attr('id', currentId);

        alert(i);
          
        //trigger
        var clipButton = '<button class="btn" data-clipboard-target="#' + currentId + '"><img src="https://clipboardjs.com/assets/images/clippy.svg" width="13" alt="Copy to clipboard"></button>';
          $(this).after(clipButton);
      });
      
      new Clipboard('.btn');
    </script>
